<div class="container">
  <h1>Your Referable Page</h1>
  <p>Spread the word by sharing this link with your friends!</p>
  <strong><%= root_url %>?ref=<%= @user.referral_code %></strong>

  <h2>Referral Summary</h2>
  <% referrals_count = @user.referrals.count %>
  <% if referrals_count == 0 %>
  	<p><span>No</span> friends have joined...Yet!</p>
  <% else %>
  	<p>Total referrals: <strong><%= referrals_count %></strong> have joined!</p>
  <% end %>
  
  <%
    referrals_count = @user.referrals.count

    stops = User::REFERRAL_STEPS
  
    found = nil

    next_stop = nil

    stops.reverse_each { |stop|
        if stop["count"] <= referrals_count and !found
            stop["selected"] = true
            found = stop
            current_index = stops.index(stop)
             next_stop = stops.at(current_index + 1)
        else
            stop["selected"] = false
            next_stop = stops.at(0)
        end
    }
  %>

  <p>You are <strong><%= next_stop["count"]-referrals_count%></strong> referrals away from unlocking your next reward!</p>
  <%= button_to "Leaderboard", leaders_path, :method => "get" %>
</div>
